
        <!-- banner part start-->
        
        <div style="padding-top: 100px; width: 40%; height: 40%;">
              <div class="row align-items-center justify-content-between">
                     
                        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                          <source src="https://akshayproject.blob.core.windows.net/video/EditedVideo.mp4?sp=r&st=2021-11-24T00:19:50Z&se=2022-11-24T08:19:50Z&sv=2020-08-04&sr=b&sig=bc1uaQGYFbmG9vAP9i%2FpMPZKtR8%2B4C6PHYVWHBDqF5o%3D" type="video/mp4">
                      </video>
                  </div>          
<br>