<body>
    <div class="body_bg">
       

        <!-- banner part start-->
        <section class="banner_part" style="padding-top: 40px;">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-8">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1>Ghosts of  War  is here!
								</h1>
                                <p>The most exciting board game of 2021 is now 
								available for sale! Ghosts of War is the World War II Themed game with unique features. </p>
                                <a href="#" class="btn_1">Watch Tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

        <!-- about_us part start-->
        <section class="about_us section_padding">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-5 col-lg-6 col-xl-6">
                        <div class="learning_img">
                            <img src="/assets/img/Lyudmila_group.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-6 col-xl-5">
                        <div class="about_us_text">
                            <h2>Find out the untold story of Lyudmila Pavlichenko
</h2>
                            <p>Lyudmila Mikhailovna Pavlichenko, was a Soviet sniper in the Red Army during World War II, who was credited with 309 confirmed kills, making her the most successful female sniper in recorded history.
 </p>
                            <a href="#" class="btn_1">Know more about her</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about_us part end-->

        <!--::about_us part start::-->
        <section class="live_stareams padding_bottom">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-2 offset-lg-2 offset-sm-1">
                        <div class="live_stareams_text">
                            <h2>Exciting <br> Maps</h2>
                            <div class="btn_1">Check out now</div>
                        </div>
                    </div>
                    <div class="col-md-7 offset-sm-1">
                        <div class="live_stareams_slide owl-carousel">
                            <div class="live_stareams_slide_img">
                                <img src="/assets/img/map1.png" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="live_stareams_slide_img">
                                <img src="/assets/img/map2.png" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="live_stareams_slide_img">
                                <img src="/assets/img/map1.png" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="live_stareams_slide_img">
                                <img src="/assets/img/map2.png" alt="">
                                <div class="extends_video">
                                    <a id="play-video_1" class="video-play-button popup-youtube"
                                        href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                        <span class="fas fa-play"></span>
                                    </a>
                                </div>
                            </div>                                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--::about_us part end::-->

        <!-- gallery_part part start-->
        <section class="gallery_part section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5">
                        <div class="section_tittle text-center">
                            <h2>Type of Cards</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
				
				<div class="wrap">
		<div class="side-a"></div>
		<div class="side-b"></div>
	</div>
	<div class="wrap2">
		<div class="sidee-a"></div>
		<div class="sidee-b"></div>
	</div>
    </div>
				
				
				
				
				
				
		
				
       
        <!-- gallery_part part end-->

        <!-- pricing part start-->
        <section class="pricing_part padding_top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_tittle text-center">
                            <h2>Pricing plans</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_pricing_part">
                            <p>Silver Package</p>
                            <h3>$50.00</h3>
                            <ul>
                                <li>1 Map</li>
                                <li>Two Account</li>
                                <li>150 Games</li>
                            </ul>
                            <a href="#" class="btn_2">Choose Plan</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_pricing_part">
                            <p>Gold Package</p>
                            <h3>$60.00</h3>
                            <ul>
                                <li>2 Maps</li>
                                <li>Two Accounts</li>
                                <li>300 Games</li>
                            </ul>
                            <a href="#" class="btn_2">Choose Plan</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single_pricing_part">
                            <p>Premium Package</p>
                            <h3>$80.00</h3>
                            <ul>
                                <li>3 Maps</li>
                                <li>Five Account</li>
                                <li>800 Games</li>
                            </ul>
                            <a href="#" class="btn_2">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing part end-->

        <!--::footer_part start::-->
        <footer class="footer_part">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_footer_part">
                                <a href="index.html" class="footer_logo_iner"> <img src="/assets/img/Gow_logo.png" alt="#"> </a>
                                <p>Ghosts of War Gaming Center
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_footer_part">
                                <h4>Contact Info</h4>
                                <p>Address : XXXX</p>
                                <p>Phone : XXXX</p>
                                <p>Email : XXXXX</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_footer_part">
                                <h4>Important Link</h4>
                                <ul class="list-unstyled">
                                    <li><a href="">Shopping Cart</a></li>
                                    <li><a href="">Our Shop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="single_footer_part">
                                <h4>Newsletter</h4>
                                <p>Ghosts of War Gaming Center
                                </p>
                                <div id="mc_embed_signup">
                                    <form target="_blank"
                                        action="https://www.google.com"
                                        method="get" class="subscribe_form relative mail_part">
                                        <input type="email" name="email" id="newsletter-form-email"
                                            placeholder="Email Address" class="placeholder hide-on-focus"
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                        <button type="submit" name="submit" id="newsletter-submit"
                                            class="email_icon newsletter-submit button-contactForm"><i
                                                class="far fa-paper-plane"></i></button>
                                        <div class="mt-10 info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    