<div class="mainDiv">
    <div style="text-align: center;">
    <span>Solder Action cards</span>
    </div>
    <drag-scroll>
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback1.png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback2 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback3 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback4 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback5 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback6 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback7 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback8 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback9 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback10 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback11 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback12 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback13 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback14 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback15 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback16 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback17 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback18 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback19 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback20 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback21 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback22 .png" />
        <img drag-scroll-item src="../../assets/Cards/soldierCards/soldierback23.png" />
    </drag-scroll>
    <div style="text-align: center;">
         <span>Sniper Action cards</span>
    </div>
    <drag-scroll>
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Green cards/Amphibian.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Green cards/HitAndRun.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Green cards/IntentionalBluff.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Green cards/MakeARun.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Green cards/OnTheFly.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Green cards/TwoInTheChamber.png" />

        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/Beaten.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/BetweenTrees.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/BobbyTrap.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/BreakCover.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/Grenade.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/Landmine.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/ScorchedEarth.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/ShootToWound.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/SneakAway.png" />
        <img drag-scroll-item src="../../assets/Cards/Sniper cards/Yellow cards/TwoBirdOneStone.png" />
        
    </drag-scroll>
</div>