.hex {
    position: relative;
    height: 110px;
    width: 100px;
    /* background: #111; */
    margin: 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* look up */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hex::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.02);
}

.hex:hover {
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;
    cursor: pointer;
}