.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
}
.map-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-top: 35px;
  padding-left: 50px;
  padding-bottom: 15px;
  zoom: 1.0;
}

.mapRow,
.rowEven {
  display: inline-flex;
  padding-top: 5px;
  margin-top: -32px;
  overflow: hidden;
}

.mapRow:nth-child(even),
.rowEven {
  margin-left: 1px;
}

.noEffect {
  pointer-events: none;
}

#logInfo {
  border: 1px solid gray;
  min-height: 50px;  /* if you want Flexible textarea/div then give min-height instead of height */
  overflow: auto; 
  padding: 2px;
  resize: vertical;
  width: 310px;
  font-size:15px;
  max-height: 300px;
  background-color: white;
  color:#000;
}

/* Jacob's css */
button {
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  background-color: #317efb;
  border-radius: 3px;
  font-weight: bold;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  visibility: hidden;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}