<!-- <div class="map-container">
    <ng-container *ngFor="let _ of [].constructor(9); let i = index;">
        <div class="mapRow">
            <ng-container *ngFor="let _ of [].constructor(8); let j = index">
                <div *ngIf="i % 2 == 0">
                    <app-hex color="{{ grassColor }}" text=""></app-hex>
                </div>
                <div *ngIf="i % 2 == 1 && j >= 1">
                    <app-hex color="{{ grassColor }}" text=""></app-hex>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>  -->
<div style="padding-top: 150px;">
<div *ngIf="map == 1" class="container">
  <div>
    <h2>Actions</h2>
    <div class="dropdown">
      <button class="dropbtn2">Cards</button>
      <div class="dropdown-content">
        <a href="#">Amphibian<img src="/assets/Cards/Sniper cards/Green cards/Amphibian.png" /></a>
        <a href="#">Hit And Run<img src="/assets/Cards/Sniper cards/Green cards/HitAndRun.png" /></a>
        <a href="#">Intentional Bluff<img src="/assets/Cards/Sniper cards/Green cards/IntentionalBluff.png" /></a>   
        <a href="#">Make-A-Run<img src="/assets/Cards/Sniper cards/Green cards/MakeARun.png" /></a>
        <a href="#">On The Fly<img src="/assets/Cards/Sniper cards/Green cards/OnTheFly.png" /></a>
        <a href="#">Two In The Chamber<img src="/assets/Cards/Sniper cards/Green cards/TwoInTheChamber.png" /></a>
      </div>
    </div>
    <button class="active" id="movement" #movement>Movement</button>
    <button class="active" id="fire" #fire>Fire</button>
    <button class="active" id="reload" #reload>Reload</button>
    <button class="active" id="confirm" #confirm>Confirm</button>
    <button class="active" id="nextTurn" #nextTurn>Next Turn</button>
    <div class="dropdown">
      <button class="dropbtn1">Cards</button>
      <div class="dropdown-content">
    <a href="#">Beaten<img src="/assets/Cards/Sniper cards/Yellow cards/Beaten.png" /></a>
    <a href="#">Between Trees<img src="/assets/Cards/Sniper cards/Yellow cards/BetweenTrees.png" /></a>
    <a href="#">BobbyTrap<img src="/assets/Cards/Sniper cards/Yellow cards/BobbyTrap.png" /></a>   
    <a href="#">Break Cover<img src="/assets/Cards/Sniper cards/Yellow cards/BreakCover.png" /></a>
    <a href="#">Grenade<img src="/assets/Cards/Sniper cards/Yellow cards/Grenade.png" /></a>
    <a href="#">Landminer<img src="/assets/Cards/Sniper cards/Yellow cards/Landmine.png" /></a>
    
    <a href="#">Scorched Earth<img src="/assets/Cards/Sniper cards/Yellow cards/ScorchedEarth.png" /></a>   
    <a href="#">Shoot To Wound<img src="/assets/Cards/Sniper cards/Yellow cards/ShootToWound.png" /></a>
    <a href="#">Sneak Away<img src="/assets/Cards/Sniper cards/Yellow cards/SneakAway.png" /></a>
    <a href="#">TwoBirds One Stone<img src="/assets/Cards/Sniper cards/Yellow cards/TwoBirdOneStone.png" /></a>
  </div>
  </div>
    <div class="alert" id="alert">
      <span class="closebtn" onclick="this.parentElement.style.visibility='hidden';">&times;</span>
      <strong id="error">Attention! Insert warning message here</strong>
    </div>
    <h5>Turn: {{currentTurn}}</h5>
    <div id="logInfo"></div>
  </div>
  <div class="map-container" (click)="getHex($event)">
    <div class="mapRow" id="test">
      <app-hex text="water" color="{{ waterColor }}" class="noEffect"></app-hex>
      <app-hex id='sniperSpawn(1)' text="sniperSpawn(1)" color="{{ grassColor }}" class="sniperSpawn"></app-hex>
      <app-hex id="2" text="02" color="{{ grassColor }}"></app-hex>
      <app-hex id='sniperSpawn(2)' text="sniperSpawn(2)" color="{{ grassColor }}" class="sniperSpawn"></app-hex>
      <app-hex id='sniperSpawn(3)' text="sniperSpawn(3)" color="{{ grassColor }}" class="sniperSpawn"></app-hex>
      <app-hex id='1' text="01" color="{{ grassColor }}"></app-hex>
      <app-hex id='sniperSpawn(4)' text="sniperSpawn(4)" color="{{ grassColor }}" class="sniperSpawn"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
    </div>
    <div class="rowEven">
      <app-hex id='7' text="07" color="{{ grassColor }}" text="07"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
      <app-hex id='6' text="06" color="{{ grassColor }}"></app-hex>
      <app-hex id='5' text="05" color="{{ grassColor }}"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
      <app-hex id='4' text="04" color="{{ grassColor }}"></app-hex>
      <app-hex id='3' text="03" color="{{ grassColor }}"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex id='14' text="14" color="{{ grassColor }}"></app-hex>
      <app-hex id='13' text="13" color="{{ grassColor }}"></app-hex>
      <app-hex id='12' text="12" color="{{ grassColor }}"></app-hex>
      <app-hex id='11' text="11" color="{{ grassColor }}"></app-hex>
      <app-hex id='10' text="10" color="{{ grassColor }}"></app-hex>
      <app-hex id='9' text="09" color="{{ grassColor }}"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
      <app-hex id='8' text="08" color="{{ grassColor }}"></app-hex>
    </div>
    <div class="rowEven">
      <app-hex id='19' text="19" color="{{ grassColor }}"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex id='18' text="18" color="{{ grassColor }}"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
      <app-hex id='17' text="17" color="{{ grassColor }}"></app-hex>
      <app-hex id='16' text="16" color="{{ grassColor }}"></app-hex>
      <app-hex id='15' text="15" color="{{ grassColor }}"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex id='27' text="27" color="{{ grassColor }}" ></app-hex>
      <app-hex id='26' text="26" color="{{ grassColor }}" ></app-hex>
      <app-hex id='25' text="25" color="{{ grassColor }}" ></app-hex>
      <app-hex id='24' text="24" color="{{ grassColor }}" ></app-hex>
      <app-hex id='23' text="23" color="{{ grassColor }}" ></app-hex>
      <app-hex id='22' text="22" color="{{ grassColor }}" ></app-hex>
      <app-hex id='21' text="21" color="{{ grassColor }}" ></app-hex>
      <app-hex id='20' text="20" color="{{ grassColor }}" ></app-hex>
    </div>
    <div class="rowEven">
      <app-hex id='30' text="30" color="{{ grassColor }}"></app-hex>
      <app-hex text="water" color="{{ waterColor }}" class="noEffect"></app-hex>
      <app-hex text="water" color="{{ waterColor }}" class="noEffect"></app-hex>
      <app-hex id='29' text="29" color="{{ grassColor }}"></app-hex>
      <app-hex text="water" color="{{ waterColor }}" class="noEffect"></app-hex>
      <app-hex text="water" color="{{ waterColor }}" class="noEffect"></app-hex>
      <app-hex id='28' text="28" color="{{ grassColor }}"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex id='37' text="37" color="{{ grassColor }}"></app-hex>
      <app-hex id='36' text="36" color="{{ grassColor }}"></app-hex>
      <app-hex id='35' text="35" color="{{ grassColor }}"></app-hex>
      <app-hex id='34' text="34" color="{{ grassColor }}"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
      <app-hex id='33' text="33" color="{{ grassColor }}" ></app-hex>
      <app-hex id='32' text="32" color="{{ grassColor }}" ></app-hex>
      <app-hex id='31' text="31" color="{{ grassColor }}" ></app-hex>
    </div>
    <div class="rowEven">
      <app-hex id='43' text="43" color="{{ grassColor }}"></app-hex>
      <app-hex id='soldierSpawn(5)' text="soldierSpawn(5)" color="{{ grassColor }}"></app-hex>
      <app-hex id='42' text="42" color="{{ grassColor }}"></app-hex>
      <app-hex id='41' text="41" color="{{ grassColor }}"></app-hex>
      <app-hex id='40' text="40" color="{{ grassColor }}"></app-hex>
      <app-hex id='39' text="39" color="{{ grassColor }}"></app-hex>
      <app-hex id='38' text="38" color="{{ grassColor }}"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex id='46' text="46" color="{{ grassColor }}"></app-hex>
      <app-hex id='45' text="45" color="{{ grassColor }}"></app-hex>
      <app-hex id='soldierSpawn(1)' text="soldierSpawn(1)" color="{{ grassColor }}"></app-hex>
      <app-hex id='soldierSpawn(2)' text="soldierSpawn(2)" color="{{ grassColor }}"></app-hex>
      <app-hex id='soldierSpawn(3)' text="soldierSpawn(3)" color="{{ grassColor }}"></app-hex>
      <app-hex id='soldierSpawn(4)' text="soldierSpawn(4)" color="{{ grassColor }}"></app-hex>
      <app-hex id='44' text="44" color="{{ grassColor }}"></app-hex>
      <app-hex text="woods" color="{{ grassColor }}" class="noEffect"></app-hex>
    </div>
  </div>
</div>


<div *ngIf="map == 2">
  <div class="map-container">
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="05"></app-hex>
      <app-hex color="{{ grassColor }}" text="04"></app-hex>
      <app-hex color="{{ grassColor }}" text="03"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="02"></app-hex>
      <app-hex color="{{ grassColor }}" text="01"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="11"></app-hex>
      <app-hex color="{{ grassColor }}" text="10"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="09"></app-hex>
      <app-hex color="{{ grassColor }}" text="08" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="07"></app-hex>
      <app-hex color="{{ grassColor }}" text="06"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="17"></app-hex>
      <app-hex color="{{ grassColor }}" text="16"></app-hex>
      <app-hex color="{{ grassColor }}" text="15"></app-hex>
      <app-hex color="{{ grassColor }}" text="14"></app-hex>
      <app-hex color="{{ grassColor }}" text="13"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="12"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="21"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="20"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="19"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="18"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="25"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="24"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="23"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="22"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="29"></app-hex>
      <app-hex color="{{ grassColor }}" text="28"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="27"></app-hex>
      <app-hex color="{{ grassColor }}" text="26"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="37"></app-hex>
      <app-hex color="{{ grassColor }}" text="36"></app-hex>
      <app-hex color="{{ grassColor }}" text="35"></app-hex>
      <app-hex color="{{ grassColor }}" text="34"></app-hex>
      <app-hex color="{{ grassColor }}" text="33"></app-hex>
      <app-hex color="{{ grassColor }}" text="32"></app-hex>
      <app-hex color="{{ grassColor }}" text="31"></app-hex>
      <app-hex color="{{ grassColor }}" text="30"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="43"></app-hex>
      <app-hex color="{{ grassColor }}" text="42"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="41"></app-hex>
      <app-hex color="{{ grassColor }}" text="40"></app-hex>
      <app-hex color="{{ grassColor }}" text="39"></app-hex>
      <app-hex color="{{ grassColor }}" text="38"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="47"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="46"></app-hex>
      <app-hex color="{{ grassColor }}" text="45"></app-hex>
      <app-hex color="{{ grassColor }}" text="44"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
    </div>
  </div>
</div>

<div *ngIf="map == 3">
  <div class="map-container">
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="05"></app-hex>
      <app-hex color="{{ grassColor }}" text="04"></app-hex>
      <app-hex color="{{ grassColor }}" text="03"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="02"></app-hex>
      <app-hex color="{{ grassColor }}" text="01"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="11"></app-hex>
      <app-hex color="{{ grassColor }}" text="10"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="09"></app-hex>
      <app-hex color="{{ grassColor }}" text="08" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="07"></app-hex>
      <app-hex color="{{ grassColor }}" text="06"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="17"></app-hex>
      <app-hex color="{{ grassColor }}" text="16"></app-hex>
      <app-hex color="{{ grassColor }}" text="15"></app-hex>
      <app-hex color="{{ grassColor }}" text="14"></app-hex>
      <app-hex color="{{ grassColor }}" text="13"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="12"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="21"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="20"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="19"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="18"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="26"></app-hex>
      <app-hex color="{{ grassColor }}" text="25"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="24"></app-hex>
      <app-hex color="{{ grassColor }}" text="23"></app-hex>
      <app-hex color="{{ grassColor }}" text="22"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="30"></app-hex>
      <app-hex color="{{ grassColor }}" text="29"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn" class="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="28"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="26"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="37"></app-hex>
      <app-hex color="{{ grassColor }}" text="36"></app-hex>
      <app-hex color="{{ grassColor }}" text="35"></app-hex>
      <app-hex color="{{ grassColor }}" text="34"></app-hex>
      <app-hex color="{{ grassColor }}" text="33"></app-hex>
      <app-hex color="{{ grassColor }}" text="32"></app-hex>
      <app-hex color="{{ grassColor }}" text="31"></app-hex>
      <app-hex color="{{ grassColor }}" text="30"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="43"></app-hex>
      <app-hex color="{{ grassColor }}" text="42"></app-hex>
      <app-hex color="{{ grassColor }}" text="woods" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="41"></app-hex>
      <app-hex color="{{ grassColor }}" text="40"></app-hex>
      <app-hex color="{{ grassColor }}" text="39"></app-hex>
      <app-hex color="{{ grassColor }}" text="38"></app-hex>
    </div>
    <div class="mapRow">
      <app-hex color="{{ grassColor }}" text="sniperSpawn"></app-hex>
      <app-hex color="{{ grassColor }}" text="47"></app-hex>
      <app-hex color="{{ grassColor }}" text="soldierSpawn"></app-hex>
      <app-hex color="{{ waterColor }}" text="water" class="noEffect"></app-hex>
      <app-hex color="{{ grassColor }}" text="46"></app-hex>
      <app-hex color="{{ grassColor }}" text="45"></app-hex>
      <app-hex color="{{ grassColor }}" text="44"></app-hex>
      <app-hex color="{{ grassColor }}" text="sniperSpawn"></app-hex>
    </div>
  </div>
</div>
</div>